@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    
    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}
	
<!-- Portfolio item -->
<article class="box post container 75%">
	<a href="#" class="image featured"><img src="@CurrentPage.Image" alt="@CurrentPage.Name"></a>
	<header>
		<h2>@pageTitle</h2>
		<p>Website: <a href="@CurrentPage.ClientWebsite">@CurrentPage.Client</a></p>
	</header>
		@CurrentPage.BodyText
										
</article>