@inherits UmbracoTemplatePage
@{
    Layout = null;
	
	var homePage = CurrentPage.AncestorsOrSelf(1).First(); 
}
<!DOCTYPE html>
<html>
<head>
    <title>Andrew Bright - Freelance Web Developer, @Umbraco.Field("title", altFieldAlias: "pageName") - @Umbraco.Field("siteName", recursive: true)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Andrew Bright">
	<meta name="keywords" content="@Model.Content.GetPropertyValue("keywords")" />
    <meta name="description" content="@Model.Content.GetPropertyValue("description")" />
		
	<meta property="og:title" content="Welcome to Bright Ideas - the home of Cambridgeshire-based freelance web developer Andrew Bright.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.brightsideas.co.uk">
	<meta property="og:site_name" content="Bright Ideas - Freelance Developer">
	<meta name="google-site-verification" content="777sWrqoaMrVga6wOzMor5hflxGfXnnxI-iuPKwhjBY" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
	<!-- Favicons -->
	<link rel="shortcut icon" href="~/images/logo_favicon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/images/logo_favicon.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/images/logo_favicon.png">
	
    <script src="/js/jquery.min.js"></script>
    <script src="/js/config.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <noscript>
        
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="/css/ie7.css" /><![endif]-->
</head>
<body onload="initMap()" class="homepage">
	@Umbraco.Field("siteName", recursive: true)
	
	<!-- Nav -->
	@{ Html.RenderPartial("umbTopNavigation"); }
				
				@if (CurrentPage.HasValue("BannerBackgroundImage")){   
					<!-- Banner -->
					{ Html.RenderPartial("umbBanner"); }
				}
					
				@if (CurrentPage.DocumentTypeAlias == "umbHomePage"){
					<!-- Services -->
					{ Html.RenderPartial("umbFeatures"); }
				}
   
		<!-- Main -->
		<div class="wrapper style3">
			@RenderBody()
		</div>
				
		<!-- Footer -->
		<div class="wrapper style4">
				<article id="contact" class="container 75%">
					<div>
						<div class="row">
							<div class="12u">
								<hr>
								<h3>Find me on ...</h3>
								@{ Html.RenderPartial("umbSocial"); }
								<hr>
							</div>
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; @DateTime.Now.Year @Umbraco.Field("copyright", recursive: true).</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
						</ul>
					</footer>
				</article>
			</div>
		<!-- /Footer -->
	</div>
	<!-- jQuery -->
	<script src="/scripts/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
	<!-- Bootstrap core -->
	<script src="/scripts/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-viewport.min.js"></script>
	<script src="/js/util.js"></script>
	<!-- Custom theme -->
	<script src="/js/main.js"></script>
			
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyDTAMIml0vjQfOhSlxeEIl3GmMYXbyCTww"></script>
	<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
	<script src="http://jawj.github.io/OverlappingMarkerSpiderfier/bin/oms.min.js"></script>

	

	<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
									
	
	
	@*<script type="text/javascript" src="/scripts/infobox.js"></script>
	<script type="text/javascript" src="/scripts/markerclusterer.js"></script>
	<script type="text/javascript" src="/scripts/OverlappingMarker.js"></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTAMIml0vjQfOhSlxeEIl3GmMYXbyCTww&callback=initMap">
	</script>*@
</body>
</html>