@inherits UmbracoTemplatePage
@{
	
  var media = Umbraco.Media(CurrentPage.BannerBackgroundImage);
  
}
@if (CurrentPage.HideBanner == false)
{
	var aboutLink = CurrentPage.AboutLink.ToString();
	
    <!-- Banner -->
    @*<section id="banner" style="background: url('@media.umbracoFile') center center;">
        <header>
			<h2>@Umbraco.Field("bannerHeader")
				<em>@Umbraco.Field("bannerSubheader")</em></h2>
				<span class="byline"></span>
		    <!-- Only show the banner link if the link isn't empty -->
			@if(link != "")
			{
            	<a href="@Umbraco.Content(link).Url" class="button">@Umbraco.Field("bannerLinkText")</a>
            }
        </header>
    </section>*@
	<section id="banner">
		<div class="logo"><span class="icon fa-lightbulb-o"></span></div>
			<h2>@Umbraco.Field("bannerHeader")</h2>
			<p>@Umbraco.Field("bannerSubheader")</p>
		<ul class="actions">
				<li><a href="@Umbraco.Content(aboutLink).Url" class="button special">About Me</a></li>
				<li><a href="#portfolio" class="button">Portfolio</a></li>
		</ul>
	</section>
    <!-- /Banner -->
}